.wrapper{
  height: 100vh;
  display: flex;
  align-items: flex-start;

}

.main{
  height: 100%;
  overflow-y: scroll;
  position: relative;
  flex: 25;
  background: linear-gradient(30deg, #12c1ecf5, #fbe7ccce, #f3eaf2ce, #09bfecf5);
  display: flex;
  width: 100vw;
}

@media only screen and (max-width: 560px){
  .main{
    flex: 11;
  }
}